$header-background: #2b4330;
$lists-background: #5c9065;
$lists-hover: #456e4d;
$item-background: #456e4d;
$task-box: #243119;
$white: #FFF;
$black: #000;
$shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
rgba(0, 0, 0, 0.12) 0px -12px 30px,
rgba(0, 0, 0, 0.12) 0px 4px 6px,
rgba(0, 0, 0, 0.17) 0px 12px 13px,
rgba(0, 0, 0, 0.09) 0px -3px 5px;
body {
    margin: 10px;
    padding: 0;
    font-family: sans-serif;
    background-color: #1f2327;
}
.container {
    border: $lists-hover 1px solid;
    background-color: $white;
    box-shadow: $shadow;
}
a{
    text-decoration: none;
    color: $white;
}
header {
    display: flex;
    align-items: center;
    background-color: $header-background;
    padding: 1rem;
    color: $white;
}
.main {
    display: flex;
    background-color: $item-background;
    justify-content: center;
}
.lists {
    display: flex;
    flex-direction: column;
    background-color: $lists-background;
    color: $white;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
    label, div {
        padding: 15px;
        margin: 5px;
        cursor: pointer;
    }
    label:hover, .radio:checked + label {
        background-color: $lists-hover;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
        rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        border-radius: 25px;
    }
    label {
        display: grid;
    }
    .listName, .buttons {
        grid-row-start: 1;
        grid-row-end: 1;
        margin: 0;
        align-self: center;
    }
    .buttons {
        justify-self: flex-end;
        padding: 0;
    }

}
.list-items {
    padding: 5px;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    align-items: center;
    #list-name {
        color: $white;
        text-shadow: $shadow;
    }
    .clear {
        box-shadow: $shadow;
    }
    .item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        width: 100%;
    }
    #addItems {
        width: 100%;
    }
    .task {
        display: flex;
        position: relative;
        left: 0;
        align-items: center;
        justify-content: center;
        background-color: $task-box;
        color: $white;
        border-radius: 10px;
        padding: 5px;
        box-shadow: $shadow;
        transition: all 1s;
        .checkbox {
            flex-grow: 2;
            display: grid;
            [name="something"] {
                justify-self: flex-start;
                grid-row-start: 1;
                grid-row-end: 1;
                transition: all 1s;
            }
            span {
                justify-self: flex-end;
                align-self: center;
                grid-row-start: 1;
                grid-row-end: 1;
                transition: all 1s;
            }
        }
        .buttons {
            display: flex;
            flex-grow: 2;
            justify-content: flex-end;
            align-items: center;
            gap: 5px;
            transition: all 1s;
        }
        .editInput {
            width:100%;
        }
    }
    input:checked~span {
        color: $lists-hover;
        text-decoration: line-through;
        text-decoration-color: $black;
    }
    .features {
        display: flex;
        align-items: center;
        gap: 0 100px;
        .list-name {
            margin: 0;
            padding: 22px;
        }
        .clear {
            height: 40px;
        }
    }
}